# **Pandas**

Python Pandas is defined as an open-source library that provides high-performance data manipulation in Python.

Pandas two data structures for manipulating data, They are: 

1.   Series
2.   DataFrame

In [ ]:
#pandas installation
!pip install pandas

# **Pandas Series:** 

1D labeled homogeneously-typed array.

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

Pandas Series is nothing but a column in an excel sheet.

Pandas Series will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, an Excel file. 

Pandas Series can be created from the lists, dictionary, and from a scalar value etc.

In [ ]:
import pandas as pd
import numpy as np
 
 
# Creating empty series
ser = pd.Series()

#print(ser)
 
# simple array
data = np.array(['a', 'b', 'c', 'd', 'e'])
   
ser = pd.Series(data)
print(ser)

0    a
1    b
2    c
3    d
4    e
dtype: object

<ipython-input-1-5426c34d9e79>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [ ]:
import pandas as pd
import numpy as np
 
 
# Creating empty series
ser = pd.Series()
   
#print(ser)
 
# simple array
data = np.array(['a', 'b', 'c', 'd', 'e'])
   
ser = pd.Series(data, index = [10, 11, 12, 13, 14])
print(ser)

10    a
11    b
12    c
13    d
14    e
dtype: object

<ipython-input-10-643a7407efc6>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [ ]:
import pandas as pd
 
# dictionary
dict_data = {1: 'one', 2: 'two', 3:'three', 4:'four', 5:'five'}
   
ser = pd.Series(dict_data)
#Access specific index
print(ser[2])
#Access range of index
print(ser[:4])
print(ser[-2:])
#Access multiple elements
print(ser[[1,2,5]])

two
1      one
2      two
3    three
4     four
dtype: object
4    four
5    five
dtype: object
1     one
2     two
5    five
dtype: object

In [ ]:
print(ser)
print(ser[:4])
#0,1, 2, 3

1      one
2      two
3    three
4     four
5     five
dtype: object
1      one
2      two
3    three
4     four
dtype: object

# Pandas DataFrame

Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

In [ ]:
import pandas
#pandas.DataFrame( data, index, columns, dtype, copy)

In [ ]:
import pandas as pd
   
# Calling DataFrame constructor
df = pd.DataFrame()
print(df)
 
# list of strings
lst = ['apple', 'orange', 'mango', 'banana', 'pear', 'jackfruit']
   
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
           0
0      apple
1     orange
2      mango
3     banana
4       pear
5  jackfruit

In [ ]:
import pandas as pd
 
# list of strings
lst = ['apple', 'orange', 'mango', 'banana', 'pear', 'jackfruit']
   
# Calling DataFrame constructor on list
df = pd.DataFrame(lst, columns = ['fruits'])

print(df)

      fruits
0      apple
1     orange
2      mango
3     banana
4       pear
5  jackfruit

 Why Pandas is used for Data Science?
 
 Pandas is built on the top of the NumPy, Matplotlib, SciPy, Scikit-learn.

In [ ]:
import pandas as pd
data = [['one',1],['two',2],['three',3]]
df = pd.DataFrame(data, columns=['Name','No'])
print(df)

    Name  No
0    one   1
1    two   2
2  three   3

In [ ]:
import pandas as pd
data = [['one',1],['two',2],['three',3]]
df = pd.DataFrame(data, columns=['Name','No'], dtype='float')
print(df)

    Name   No
0    one  1.0
1    two  2.0
2  three  3.0

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#pandas series to dataframe

import pandas as pd
 
# simple dictionary
dict_data = {1: 'one', 2: 'two', 3:'three', 4:'four', 5:'five'}
   
ser = pd.Series(dict_data)
print(ser)

df = pd.DataFrame(ser)
print(df)

df1 = pd.DataFrame(ser, columns=['A'])
print(df1)

1      one
2      two
3    three
4     four
5     five
dtype: object
       0
1    one
2    two
3  three
4   four
5   five
       A
1    one
2    two
3  three
4   four
5   five

**Pandas DataFrame from dictionary**

In [ ]:
import pandas as pd
 
# dictionary
dict_data = {1: 'one', 2: 'two', 3:'three', 4:'four', 5:'five'}
   
df = pd.DataFrame(dict_data, index=[0])
print(df)

     1    2      3     4     5
0  one  two  three  four  five

In [ ]:
import pandas as pd
 
# dictionary
dict_data = {1: 'one', 2: 'two', 3:'three', 4:'four', 5:'five'}
   
df = pd.DataFrame(dict_data, index=['a'])
print(df)

     1    2      3     4     5
a  one  two  three  four  five

In [ ]:
import pandas as pd
 
# dictionary
dict_data = {'fruits': ['apple', 'banana', 'orange', 'pear', 'mango'], 'price':[100, 70, 50, 150, 120]}
   
df = pd.DataFrame(dict_data)
print(df)

   fruits  price
0   apple    100
1  banana     70
2  orange     50
3    pear    150
4   mango    120

In [ ]:
#create a DataFrame from Dict of Series
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
dic =  {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c'])}
df1 = pd.DataFrame(dic)
df1

   one
a    1
b    2
c    3

In [ ]:
import pandas as pd
# importing the boston house price data
from sklearn.datasets import load_boston
# pandas DataFrame
boston_dataset = load_boston()
boston_df = pd.DataFrame(boston_dataset.data, columns = boston_dataset.feature_names)
print(boston_df.head(10))

      CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575   65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421   78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185   61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998   45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147   54.2  6.0622  3.0  222.0
5  0.02985   0.0   2.18   0.0  0.458  6.430   58.7  6.0622  3.0  222.0
6  0.08829  12.5   7.87   0.0  0.524  6.012   66.6  5.5605  5.0  311.0
7  0.14455  12.5   7.87   0.0  0.524  6.172   96.1  5.9505  5.0  311.0
8  0.21124  12.5   7.87   0.0  0.524  5.631  100.0  6.0821  5.0  311.0
9  0.17004  12.5   7.87   0.0  0.524  6.004   85.9  6.5921  5.0  311.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33
5     18.7  394.12   5.21
6     15.2  395.60  12.43
7     15.2  396.90  19.15
8     15.2  386.63  29.93
9     15.2  386.71  17.10

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
#Dataframe Info
print(boston_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB
None

In [ ]:
#Dataframe shape
print(boston_df.shape)
#rows count
print(boston_df.shape[0])
#columns count
print(boston_df.shape[1])

(506, 13)
506
13

In [ ]:
#DataFrame a Column selection
print(boston_df['ZN'])

0      18.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
501     0.0
502     0.0
503     0.0
504     0.0
505     0.0
Name: ZN, Length: 506, dtype: float64

In [ ]:
#DataFrame a Column selection
print(boston_df[['ZN', 'CHAS']])
print(boston_df[boston_df.columns[0:2]])
#print(boston_df[boston_df.columns[0, 3]])

       ZN  CHAS
0    18.0   0.0
1     0.0   0.0
2     0.0   0.0
3     0.0   0.0
4     0.0   0.0
..    ...   ...
501   0.0   0.0
502   0.0   0.0
503   0.0   0.0
504   0.0   0.0
505   0.0   0.0

[506 rows x 2 columns]
        CRIM    ZN
0    0.00632  18.0
1    0.02731   0.0
2    0.02729   0.0
3    0.03237   0.0
4    0.06905   0.0
..       ...   ...
501  0.06263   0.0
502  0.04527   0.0
503  0.06076   0.0
504  0.10959   0.0
505  0.04741   0.0

[506 rows x 2 columns]

In [ ]:
#Adding a new column
boston_df['NewCoulmn'] = boston_df['ZN']

In [ ]:
print(boston_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CRIM       506 non-null    float64
 1   ZN         506 non-null    float64
 2   INDUS      506 non-null    float64
 3   CHAS       506 non-null    float64
 4   NOX        506 non-null    float64
 5   RM         506 non-null    float64
 6   AGE        506 non-null    float64
 7   DIS        506 non-null    float64
 8   RAD        506 non-null    float64
 9   TAX        506 non-null    float64
 10  PTRATIO    506 non-null    float64
 11  B          506 non-null    float64
 12  LSTAT      506 non-null    float64
 13  NewCoulmn  506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB
None

In [ ]:
print(boston_df['NewCoulmn'])

0      18.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
501     0.0
502     0.0
503     0.0
504     0.0
505     0.0
Name: NewCoulmn, Length: 506, dtype: float64

In [ ]:
#Deleting a column
del boston_df['NewCoulmn']
print(boston_df)
#boston_df.pop('NewCoulmn')

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]

In [ ]:
#deleting the duplicate rows
boston_df.drop_duplicates()
boston_df.drop(501)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,NewCoulmn
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,18.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,0.0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,0.0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,0.0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,0.0
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,0.0
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,0.0
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,0.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,0.0

In [ ]:
#Rows can be selected by passing row label to a loc function.
boston_df.loc[501]

CRIM         0.06263
ZN           0.00000
INDUS       11.93000
CHAS         0.00000
NOX          0.57300
RM           6.59300
AGE         69.10000
DIS          2.47860
RAD          1.00000
TAX        273.00000
PTRATIO     21.00000
B          391.99000
LSTAT        9.67000
Name: 501, dtype: float64

In [ ]:
#Rows can be selected by passing integer location to an iloc function.
boston_df.iloc[501]

CRIM         0.06263
ZN           0.00000
INDUS       11.93000
CHAS         0.00000
NOX          0.57300
RM           6.59300
AGE         69.10000
DIS          2.47860
RAD          1.00000
TAX        273.00000
PTRATIO     21.00000
B          391.99000
LSTAT        9.67000
Name: 501, dtype: float64

In [ ]:
boston_df.iloc[501:505]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48

In [ ]:
#Addition of two DataFrames
df1 = boston_df.iloc[501:505]
df2 = boston_df.iloc[495:500]
#print(df1)
#print(df2)
print(df1.append(df2))

        CRIM   ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
501  0.06263  0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527  0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076  0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959  0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
495  0.17899  0.0   9.69   0.0  0.585  5.670  28.8  2.7986  6.0  391.0
496  0.28960  0.0   9.69   0.0  0.585  5.390  72.9  2.7986  6.0  391.0
497  0.26838  0.0   9.69   0.0  0.585  5.794  70.6  2.8927  6.0  391.0
498  0.23912  0.0   9.69   0.0  0.585  6.019  65.3  2.4091  6.0  391.0
499  0.17783  0.0   9.69   0.0  0.585  5.569  73.5  2.3999  6.0  391.0

     PTRATIO       B  LSTAT
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
495     19.2  393.29  17.60
496     19.2  396.90  21.14
497     19.2  396.90  14.10
498     19.2  396.90  12.92
499     19.2  395.77  15.10

In [ ]:
lst = [1,2,3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [ ]:
#Deletion of Rows
# Drop rows with label 0
df1 = df1.drop(501)
df1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48

**Difference between loc() and iloc() in Pandas DataFrame**

	loc()	iloc()
**Label or Integer based**	


loc() method  is label-based which means we have to specify both the names of rows and columns that we want to filter out	


while iloc() method is integer-based which means we have to just pass the integer index to select specific row/columns.


**inclusion of last element**	

loc() method includes the last element	

while iloc() method does not include the last element.


**Input Used**	

Input we can use in loc() methods are:
- A string
- A list of strings
- Slice notation using strings as the start and stop values	


Input we can use in iloc() methods are:
- An integer
- A list of integers
- Slice notation using integers as the start and stop values


**Boolean Data Type**	


loc() method can accept the boolean data	


while iloc() method does not accept boolean data

In [ ]:
import pandas as pd
df=pd.DataFrame({'Name':['Rohit','Rahul','Ravi','Sandro','Raja'],'Age':[16,17,19,15,14],
                 'Height':[150.5,167.9,145.7,152.6,148.7]})#Create DataFrame
index = ['1', '2', '3', '4', '5']#Create  index
df.index=index
print(df)#print the dataframe

result = df.loc['3', 'Name']
print(result)


result_column = df.loc[:, ['Name', 'Age']]
print(result_column)

     Name  Age  Height
1   Rohit   16   150.5
2   Rahul   17   167.9
3    Ravi   19   145.7
4  Sandro   15   152.6
5    Raja   14   148.7
Ravi
     Name  Age
1   Rohit   16
2   Rahul   17
3    Ravi   19
4  Sandro   15
5    Raja   14

In [ ]:
df.iloc[[0, 2]]#0th and 2nd index

    Name  Age  Height
1  Rohit   16   150.5
3   Ravi   19   145.7

In [ ]:
df.iloc[[0, 1]]#with list objects 0th ans 1st index

    Name  Age  Height
1  Rohit   16   150.5
2  Rahul   17   167.9

In [ ]:
df.iloc[:3]#With slice objects. range option

    Name  Age  Height
1  Rohit   16   150.5
2  Rahul   17   167.9
3   Ravi   19   145.7

In [ ]:
df.iloc[[0, 2], [1, 2]]#Indexing both axes With lists of integers.
#[0, 2] -> row index
#[1, 2 ] -> column index

   Age  Height
1   16   150.5
3   19   145.7

In [ ]:
#pandas.DataFrame.at
import pandas as pd
ex_df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
                  index=[4, 5, 6], columns=['A', 'B', 'C'])
print(ex_df)
#read a value
print(ex_df.at[4, 'B'])
print(ex_df.loc[4, 'B'])
print(ex_df.loc[5].at['B'])
#set a value
ex_df.at[4, 'B'] = 10


print(ex_df)

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30
2
2
4
    A   B   C
4   0  10   3
5   0   4   1
6  10  20  30

**DataFrame Column Data Types**

In [ ]:
dct = {'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]}
df = pd.DataFrame(data=dct)
print(df)
print(df.dtypes)
#Convert all columns to int32:
df.astype('int64').dtypes
#print(df.dtypes)
#Convert Specific column to int32
df.astype({'col1': 'int32'}).dtypes
#print(df.dtypes)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8
col1    int64
col2    int64
dtype: object

col1    int32
col2    int64
dtype: object

**Pandas dataframe.bfill()**

Pandas dataframe.bfill() is used to backward fill the missing values in the dataset. It will backward fill the NaN values that are present in the pandas dataframe.

In [ ]:
# importing pandas as pd
import pandas as pd
  
# Creating a dataframe with "na" values.
  
df = pd.DataFrame({"A":[None, 1, 2, 3, None, None], 
                   "B":[11, 5, None, None, None, 8],
                   "C":[None, 5, 10, 11, None, 8]})
  
# Printing the dataframe
df

     A     B     C
0  NaN  11.0   NaN
1  1.0   5.0   5.0
2  2.0   NaN  10.0
3  3.0   NaN  11.0
4  NaN   NaN   NaN
5  NaN   8.0   8.0

In [ ]:
# Fill across the row
df.bfill(axis ='rows')

     A     B     C
0  1.0  11.0   5.0
1  1.0   5.0   5.0
2  2.0   8.0  10.0
3  3.0   8.0  11.0
4  NaN   8.0   8.0
5  NaN   8.0   8.0

In [ ]:
#df.describe()
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Ram, R",
            "Arun, Elueri",
            "Kumar, S",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
print(df)
df.describe()

           Name  Age     Sex
0        Ram, R   22    male
1  Arun, Elueri   35    male
2      Kumar, S   58  female

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [ ]:
#head(), tail()
# importing the boston house price data
from sklearn.datasets import load_boston
# pandas DataFrame
boston_dataset = load_boston()
boston_df = pd.DataFrame(boston_dataset.data, columns = boston_dataset.feature_names)
print(boston_df.head())
print(boston_df.tail())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33
        CRIM   ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
501  0.06263  0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527  0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076  0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959  0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741  0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

Getting data in to pandas from many different file formats or data sources is supported by read_* functions.

Exporting data out of pandas is provided by different to_*methods.

The **head/tail/info** methods and the dtypes attribute are convenient for a first check.

To select multiple columns, use a list of column names within the selection brackets []

In [ ]:
#select single column
boston_df['NOX']

0      0.538
1      0.469
2      0.469
3      0.458
4      0.458
       ...
501    0.573
502    0.573
503    0.573
504    0.573
505    0.573
Name: NOX, Length: 506, dtype: float64

In [ ]:
#select multiple columns
boston_df[['NOX', 'RM']]

       NOX     RM
0    0.538  6.575
1    0.469  6.421
2    0.469  7.185
3    0.458  6.998
4    0.458  7.147
..     ...    ...
501  0.573  6.593
502  0.573  6.120
503  0.573  6.976
504  0.573  6.794
505  0.573  6.030

[506 rows x 2 columns]

In [ ]:
type(boston_df[['NOX', 'RM']])

pandas.core.frame.DataFrame

In [ ]:
boston_df[['NOX', 'RM']].shape
print(boston_df.shape)

(506, 13)

In [ ]:
#condition
print(boston_df[boston_df['NOX'] < 0.4])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
65   0.03584  80.0   3.37   0.0  0.398  6.290  17.8  6.6115  4.0  337.0
66   0.04379  80.0   3.37   0.0  0.398  5.787  31.1  6.6115  4.0  337.0
254  0.04819  80.0   3.64   0.0  0.392  6.108  32.0  9.2203  1.0  315.0
255  0.03548  80.0   3.64   0.0  0.392  5.876  19.1  9.2203  1.0  315.0
256  0.01538  90.0   3.75   0.0  0.394  7.454  34.2  6.3361  3.0  244.0
285  0.01096  55.0   2.25   0.0  0.389  6.453  31.9  7.3073  1.0  300.0
286  0.01965  80.0   1.76   0.0  0.385  6.230  31.5  9.0892  1.0  241.0

     PTRATIO       B  LSTAT
65      16.1  396.90   4.67
66      16.1  396.90  10.24
254     16.4  392.89   6.57
255     16.4  395.18   9.25
256     15.9  386.34   3.11
285     15.3  394.72   8.23
286     18.2  341.60  12.93

In [ ]:
#conditions
print(boston_df[(boston_df['NOX'] < 0.4) & (boston_df['RM'] < 6.0)])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
66   0.04379  80.0   3.37   0.0  0.398  5.787  31.1  6.6115  4.0  337.0
255  0.03548  80.0   3.64   0.0  0.392  5.876  19.1  9.2203  1.0  315.0

     PTRATIO       B  LSTAT
66      16.1  396.90  10.24
255     16.4  395.18   9.25

In [ ]:
#conditions
print(boston_df.loc[(boston_df['NOX'] < 0.4) & (boston_df['RM'] < 9.0), 'AGE'])

65     17.8
66     31.1
254    32.0
255    19.1
256    34.2
285    31.9
286    31.5
Name: AGE, dtype: float64

In [ ]:
#conditions
print(boston_df.loc[(boston_df['NOX'] < 0.4) & (boston_df['RM'] < 9.0), ['AGE', 'NOX', 'RM']])

      AGE    NOX     RM
65   17.8  0.398  6.290
66   31.1  0.398  5.787
254  32.0  0.392  6.108
255  19.1  0.392  5.876
256  34.2  0.394  7.454
285  31.9  0.389  6.453
286  31.5  0.385  6.230

In [ ]:
#conditions
print(boston_df.loc[(boston_df['NOX'] < 0.4) | (boston_df['RM'] < 9.0), ['AGE', 'NOX', 'RM']])

      AGE    NOX     RM
0    65.2  0.538  6.575
1    78.9  0.469  6.421
2    61.1  0.469  7.185
3    45.8  0.458  6.998
4    54.2  0.458  7.147
..    ...    ...    ...
501  69.1  0.573  6.593
502  76.7  0.573  6.120
503  91.0  0.573  6.976
504  89.3  0.573  6.794
505  80.8  0.573  6.030

[506 rows x 3 columns]

In [ ]:
#conditions
boston_df.loc[(boston_df['NOX'] < 0.4) & (boston_df['RM'] < 9.0), 'AGE'] = 18
print(boston_df.loc[(boston_df['NOX'] < 0.4) & (boston_df['RM'] < 9.0), 'AGE'])

65     18.0
66     18.0
254    18.0
255    18.0
256    18.0
285    18.0
286    18.0
Name: AGE, dtype: float64

In [ ]:
#isin
#condition
print(boston_df[boston_df['NOX'].isin([0.4, 0.5])])

        CRIM    ZN  INDUS  CHAS  NOX     RM   AGE     DIS  RAD    TAX  \
284  0.00906  90.0   2.97   0.0  0.4  7.088  20.8  7.3073  1.0  285.0
298  0.06466  70.0   2.24   0.0  0.4  6.345  20.1  7.8278  5.0  358.0
299  0.05561  70.0   2.24   0.0  0.4  7.041  10.0  7.8278  5.0  358.0
300  0.04417  70.0   2.24   0.0  0.4  6.871  47.4  7.8278  5.0  358.0

     PTRATIO       B  LSTAT
284     15.3  394.72   7.85
298     14.8  368.24   4.97
299     14.8  371.58   4.74
300     14.8  390.86   6.07

In [ ]:
#combining the two statements with an | (or) operator
#print(boston_df[boston_df['NOX'].isin([0.4, 0.5])])
print(boston_df[(boston_df['NOX'] < 0.4) | (boston_df['RM'] < 6.0)])

        CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD    TAX  \
8    0.21124  12.5   7.87   0.0  0.524  5.631  100.0  6.0821  5.0  311.0
12   0.09378  12.5   7.87   0.0  0.524  5.889   39.0  5.4509  5.0  311.0
13   0.62976   0.0   8.14   0.0  0.538  5.949   61.8  4.7075  4.0  307.0
15   0.62739   0.0   8.14   0.0  0.538  5.834   56.5  4.4986  4.0  307.0
16   1.05393   0.0   8.14   0.0  0.538  5.935   29.3  4.4986  4.0  307.0
..       ...   ...    ...   ...    ...    ...    ...     ...  ...    ...
494  0.27957   0.0   9.69   0.0  0.585  5.926   42.6  2.3817  6.0  391.0
495  0.17899   0.0   9.69   0.0  0.585  5.670   28.8  2.7986  6.0  391.0
496  0.28960   0.0   9.69   0.0  0.585  5.390   72.9  2.7986  6.0  391.0
497  0.26838   0.0   9.69   0.0  0.585  5.794   70.6  2.8927  6.0  391.0
499  0.17783   0.0   9.69   0.0  0.585  5.569   73.5  2.3999  6.0  391.0

     PTRATIO       B  LSTAT
8       15.2  386.63  29.93
12      15.2  390.50  15.71
13      21.0  396.90   8.26
15      21.0  395.62   8.47
16      21.0  386.85   6.58
..       ...     ...    ...
494     19.2  396.90  13.59
495     19.2  393.29  17.60
496     19.2  396.90  21.14
497     19.2  396.90  14.10
499     19.2  395.77  15.10

[178 rows x 13 columns]

When combining multiple conditional statements, each condition must be surrounded by parentheses (). Moreover, you can not use or/and but need to use the or operator **|** and the and operator **&**.

In [ ]:
#age_no_na = titanic[titanic["Age"].notna()]
print(boston_df[boston_df['NOX'].notna()])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]

In [ ]:
# importing pandas as pd
import pandas as pd
  
# creating dataframes
df1 = pd.DataFrame({'Name': ['John', 'Tom', 'Simon', 'Jose'],'id': [1, 2, 3, 4], 
                    'Age': [5, 6, 4, 5]})
print(df1)
df2 = pd.DataFrame({'Name': ['John', 'Tom', 'Jose'], 'id': [1, 2, 3],
                    'Class': ['Second', 'Third', 'Fifth']})
print(df2)  
# merging df1 and df2 with merge function 
# with the common column as Name
df = pd.merge(df1, df2, on='Name', how="left")
print(df)

    Name  id  Age
0   John   1    5
1    Tom   2    6
2  Simon   3    4
3   Jose   4    5
   Name  id   Class
0  John   1  Second
1   Tom   2   Third
2  Jose   3   Fifth
    Name  id_x  Age  id_y   Class
0   John     1    5   1.0  Second
1    Tom     2    6   2.0   Third
2  Simon     3    4   NaN     NaN
3   Jose     4    5   3.0   Fifth

In [ ]:
df = pd.DataFrame(
    {"A": [1, 2, 3, 4], "B": [10, 20, 30, 40], "C": [100, 50, -30, -50]}
)

#condition with single column
df.loc[df.A >= 3, "B"] = 'test'
df

   A     B    C
0  1    10  100
1  2    20   50
2  3  test  -30
3  4  test  -50

In [ ]:
#condition with multiple info

df.loc[df.A >= 3, ["B", "C"]] = 500
df

   A    B    C
0  1   10  100
1  2   20   50
2  3  500  500
3  4  500  500

In [ ]:
#where
import numpy as np

df["D"] = np.where(df["A"] > 2, "True", "False")
df

   A    B    C      D
0  1   10  100  False
1  2   20   50  False
2  3  500  500   True
3  4  500  500   True

In [ ]:
print(df.columns)
for i in df.columns:
  print(i)

Index(['A', 'B', 'C', 'D'], dtype='object')
A
B
C
D

In [ ]:
df

   A    B    C      D
0  1   10  100  False
1  2   20   50  False
2  3  500  500   True
3  4  500  500   True

df.shape, df.columns and df.dtypes

In [ ]:
#sorting
df.sort_values(by=("A", "B"), ascending=False)
df

KeyError: ignored

In [ ]:
df = pd.DataFrame(
    data={
        "Area": ["A"] * 5 + ["C"] * 2,
        "Bins": [110] * 2 + [160] * 3 + [40] * 2,
        "Test_0": [0, 1, 0, 1, 2, 0, 1],
        "Data": np.random.randn(7),
    }
)

df["Test_1"] = df["Test_0"] - 1
df1 = df.copy()

pd.merge(
    df,
    df1,
    left_on=["Bins", "Area", "Test_0"],
    right_on=["Bins", "Area", "Test_1"],
    suffixes=("_L", "_R"),
)

  Area  Bins  Test_0_L    Data_L  Test_1_L  Test_0_R    Data_R  Test_1_R
0    A   110         0  1.007261        -1         1  1.762169         0
1    A   160         0  0.515867        -1         1 -0.335921         0
2    A   160         1 -0.335921         0         2  0.683481         1
3    C    40         0  0.981946        -1         1 -0.695985         0

The concat() function performs concatenation operations of multiple tables along one of the axes (row-wise or column-wise).

In [ ]:
df = pd.DataFrame(
    data={
        "Area": ["A"] * 5 + ["C"] * 2,
        "Bins": [110] * 2 + [160] * 3 + [40] * 2,
        "Test_0": [0, 1, 0, 1, 2, 0, 1],
        "Data": np.random.randn(7),
    }
)

df["Test_1"] = df["Test_0"] - 1
df1 = df.copy()

df3 = pd.concat([df, df1], axis=0)
print(df3)

  Area  Bins  Test_0      Data  Test_1
0    A   110       0 -1.384100      -1
1    A   110       1  0.085381       0
2    A   160       0 -1.093924      -1
3    A   160       1 -0.393485       0
4    A   160       2 -2.140317       1
5    C    40       0 -1.383105      -1
6    C    40       1  1.268519       0
0    A   110       0 -1.384100      -1
1    A   110       1  0.085381       0
2    A   160       0 -1.093924      -1
3    A   160       1 -0.393485       0
4    A   160       2 -2.140317       1
5    C    40       0 -1.383105      -1
6    C    40       1  1.268519       0

In [ ]:
df = pd.DataFrame(
    data={
        "Area": ["A"] * 5 + ["C"] * 2,
        "Bins": [110] * 2 + [160] * 3 + [40] * 2,
        "Test_0": [0, 1, 0, 1, 2, 0, 1],
        "Data": np.random.randn(7),
    }
)

df["Test_1"] = df["Test_0"] - 1
df1 = df.copy()

df3 = pd.concat([df, df1], axis=1)
print(df3)

  Area  Bins  Test_0      Data  Test_1 Area  Bins  Test_0      Data  Test_1
0    A   110       0 -0.245410      -1    A   110       0 -0.245410      -1
1    A   110       1 -1.878903       0    A   110       1 -1.878903       0
2    A   160       0 -0.598782      -1    A   160       0 -0.598782      -1
3    A   160       1  0.878374       0    A   160       1  0.878374       0
4    A   160       2 -0.683390       1    A   160       2 -0.683390       1
5    C    40       0 -1.616457      -1    C    40       0 -1.616457      -1
6    C    40       1  0.104822       0    C    40       1  0.104822       0

In [ ]:
#read multiple csv files
import glob
import os

files = glob.glob("file_*.csv")
result = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

**Pandas GroupBy**

In [ ]:
# importing pandas module
import pandas as pd
  
# Define a dictionary containing employee data
data1 = {'Name':['Sai', 'Arun', 'Sai', 'Eluri',
                 'Ram', 'Arun', 'Eluri', 'Mohan'],
        'Age':[27, 24, 22, 32,
               33, 36, 27, 32],
        'Address':['Chennai', 'Trichy', 'Vellore', 'Madurai',
                   'Tanjore', 'Trichy', 'Vellore', 'Namakkal'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd',
                         'B.Tech', 'B.com', 'Msc', 'MA']}
    
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data1)
  
print(df)

    Name  Age   Address Qualification
0    Sai   27   Chennai           Msc
1   Arun   24    Trichy            MA
2    Sai   22   Vellore           MCA
3  Eluri   32   Madurai           Phd
4    Ram   33   Tanjore        B.Tech
5   Arun   36    Trichy         B.com
6  Eluri   27   Vellore           Msc
7  Mohan   32  Namakkal            MA

In [ ]:
gk = df.groupby('Name')
print(gk.first())
print(df.groupby('Name').groups)

       Age   Address Qualification
Name
Arun    24    Trichy            MA
Eluri   32   Madurai           Phd
Mohan   32  Namakkal            MA
Ram     33   Tanjore        B.Tech
Sai     27   Chennai           Msc
{'Arun': [1, 5], 'Eluri': [3, 6], 'Mohan': [7], 'Ram': [4], 'Sai': [0, 2]}