# Python - Tuples


*   Tuples are defined by enclosing elements in parentheses (), separated by a comma.

*   It is an ordered collection.

*   Tuple is an immutable (unchangeable) collection of elements of different data types.

*   It's allowing Duplicates

 **Tuple Variable Declaration**

In [ ]:
tpl = () # empty tuple
print(tpl)
emp_tupl = tuple() # empty tuple

names = ('Raja', 'Ram', 'Anbu', 'Murugan') # string tuple
print(names)

nums = (1, 2, 3, 4, 5) # int tuple
print(nums)

emp = (1, 'Ram', True, 50.00, 10000)  # heterogeneous data tuple
print(emp)

tuple_bool = (True, False, False)
print(tuple_bool)

()
('Raja', 'Ram', 'Anbu', 'Murugan')
(1, 2, 3, 4, 5)
(1, 'Ram', True, 50.0, 10000)
(True, False, False)

In [ ]:
lst = []
lst1 = list()

In [2]:
a = ['s']
print(type(a))
b = ('2')
print(type(b))

<class 'list'>
<class 'str'>

**Tuple With One Item**

In [7]:
a = 'abc'

name = ('Raja') # considered as string type
print(name)
print(type(name))

names = ('Ram',) # tuple with single element
print(names)
print(type(names))

names = 'Ram', 'Raja'
names1 = 'Ram',
print(names)
print(names1)
print(type(names))

Raja
<class 'str'>
('Ram',)
<class 'tuple'>
('Ram', 'Raja')
('Ram',)
<class 'tuple'>


**Tuple Length**

In [ ]:
tuple_length = ("Kumar", "Mani", "Anbu")
print(len(tuple_length))

lst = [1, 2, 'a', 'b']
print(len(lst))

3
4

In [4]:
c = '12345'
print(len(c))

5

**Access Tuple Elements**

Each element in the tuple is accessed by the index in the square brackets [].

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
print(vegetables[0]) # prints 'carrot'
print(vegetables[1]) # prints 'radish'
print(vegetables[2]) # prints 'onion'
print(vegetables[3]) # prints 'tomato'

nums = (1, 2, 3, 4, 5)
print(nums[0]) # prints 1
print(nums[1]) # prints 2
print(nums[4]) # prints 5

carrot
radish
onion
tomato
1
2
5

**Negative Indexing**

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
print(vegetables[-4]) # prints 'carrot'
print(vegetables[-3]) # prints 'radish'
print(vegetables[-2]) # prints 'onion'
print(vegetables[-1]) # prints 'tomato'

**type()**

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')

print(type(vegetables))

<class 'tuple'>

**tuple() Constructor**

In [5]:
vegetables = ['carrot', 'radish', 'onion', 'tomato']
print(type(vegetables))

veg = tuple(vegetables)
print(veg)
print(type(veg))

tpl = tuple('Hello') # converts string to tuple
print(tpl)
tpl = tuple([1,2,3,4,5]) # converts list to tuple
print(tpl)
tpl = tuple({1,2,3,4,5}) # converts set to tuple
print(tpl)
tpl = tuple({1:"One",2:"Two"}) # converts dictionary to tuple
print(tpl)

<class 'list'>
('carrot', 'radish', 'onion', 'tomato')
<class 'tuple'>
('H', 'e', 'l', 'l', 'o')
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2)

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
print(vegetables[1:2])
print(vegetables[1])
print(vegetables[:3])
print(vegetables[1:])

('radish',)
radish
('carrot', 'radish', 'onion')
('radish', 'onion', 'tomato')

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
a, b, c, d = vegetables # unpack tuple
print(a, b, c, d)

#Using Asterisk*
(a, b, *c) = vegetables
print(*c)

carrot radish onion tomato
onion tomato

**Update or Delete Tuple Elements**

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
vegetables[0] = 'cabbage'
del vegetables[0]

TypeError: ignored

**Tuple with Operators**

In [ ]:
t1=(10,20,30)
t2=(40,50,60)
print(t1+t2)
print(t1*4)

print(60 in t1)
print(30 in t1)

print(60 not in t1)
print(30 not in t1)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)
False
True
True
False

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
if "carrot" in vegetables:
  print("Yes, 'carrot' is in the vegetables tuple")

print("carrot" in vegetables)

Yes, 'carrot' is in the vegetables tuple
True

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
i = 0
while i < len(vegetables):#0<4
  print(vegetables[i])
  i = i + 1
  #i = 0 + 1

carrot
radish
onion
tomato

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
for i in range(len(vegetables)):
#for i in range(4):
#0, 1, 2, 3
  print(vegetables[i])

carrot
radish
onion
tomato

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
print(vegetables[0])

carrot

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
vegetables = ('carrot', 'radish', 'onion', 'tomato')
for i in vegetables:
  print(i)

carrot
radish
onion
tomato

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

# **Python - Set**

A set is a mutable collection of distinct hashable objects, same as the list and tuple.

It is an unordered collection of objects, meaning it does not record element position or order of insertion and so cannot access elements using indexes.


The set is a Python implementation of the set in Mathematics.

A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

In [ ]:
nums = {1, 2, 3, 4, 5} # set with numbers
print(nums)
emp = {10, 'Raja', 100.5, True} # set of different objects
print(emp)

{1, 2, 3, 4, 5}
{True, 10, 100.5, 'Raja'}

In [ ]:
nums = {1, 2, 2, 3, 4, 4, 5, 5, 5}
print(nums)

{1, 2, 3, 4, 5}

In [ ]:
ex_set = {(10,10), 10, 20} # valid
print(ex_set)

{(10, 10), 10, 20}

In [ ]:
#Set Elements

ex_set = {[10, 10], 10, 20}  # can't add a list

TypeError: ignored

In [ ]:
ex_set = { {10, 10}, 10, 20} # can't add a set

TypeError: ignored

**Creating an Empty Set**

In [ ]:
emp = {} # creates an empty dictionary
emp_dict = dict()
print(type(emp))


lst = []
lst1 = list()

tpl = ()
tpl1 = tuple()

emp_set = set() # creates an empty set
print(type(emp_set))

<class 'dict'>
<class 'set'>

**The set() Constructor**

In [ ]:
veg_set = set(('carrot', 'radish', 'onion', 'tomato')) # note the double round-brackets
print(veg_set)


str_set = set('Hello') # converts string to set
print(str_set)

int_set = set((1,2,3,4,5)) # converts tuple to set
print(int_set)

dict_set = {1:'One', 2: 'Two'}
dict_set = set(dict_set) # converts dict to set
print(dict_set)

{'onion', 'carrot', 'tomato', 'radish'}
{'o', 'e', 'l', 'H'}
{1, 2, 3, 4, 5}
{1, 2}

In [ ]:
set_ex = {'o', 'e', 'H', 'l'}
print(set_ex)

{'o', 'l', 'H', 'e'}

**Set Iterations**

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
for i in veg_set:
  print(i)

tomato
radish
carrot
onion

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
print(len(veg_set))
for i in range(len(veg_set)):
  print(veg_set[i])

4

TypeError: ignored

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
if 'carrot' in veg_set:
  print("carrot" in veg_set)

True

**Change Set Elements**

Set items are unchangeable, but you can remove items and add new items.

In [ ]:
num_set = set() # creates an empty set
num_set.add(10) # add an element
num_set.add(20)
num_set.add(30)
print(num_set)

primeNums = {10, 2, 3, 5, 7}
num_set.update(primeNums) # update set with another set

print(num_set)

num_set.remove(2) # remove an element
print(num_set)

{10, 20, 30}
{2, 3, 5, 7, 10, 20, 30}
{3, 5, 7, 10, 20, 30}

**Add Set Items**

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
veg_set.add("cabbage")
print(veg_set)

{'radish', 'cabbage', 'onion', 'carrot', 'tomato'}

**Set Update**

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
veg_set1 = {'cabbage', 'ginger', 'chilli', 'beans', 'tomato'}

veg_set.update(veg_set1)

print(veg_set)

{'radish', 'chilli', 'cabbage', 'ginger', 'onion', 'carrot', 'tomato', 'beans'}

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
veg_set1 = ['cabbage', 'ginger', 'chilli', 'beans']#(tuples, lists, dictionaries).
veg_set.update(veg_set1)

print(veg_set)

{'radish', 'chilli', 'cabbage', 'ginger', 'onion', 'carrot', 'tomato', 'beans'}

**Remove Item from set**

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato', 'cabbage', 'beans'}
veg_set.remove("carrot")
print(veg_set)

veg_set.discard("radish")
print(veg_set)


print(veg_set.pop())
print(veg_set)

{'radish', 'cabbage', 'onion', 'tomato', 'beans'}
{'cabbage', 'onion', 'tomato', 'beans'}
cabbage
{'onion', 'tomato', 'beans'}

In [ ]:
veg_set = {'carrot', 'radish', 'onion', 'tomato', 'cabbage', 'beans'}
veg_set.clear()
print(veg_set)

del veg_set

print(veg_set)

set()

NameError: ignored

**Set with Operators**


*   Union: Returns a new set with elements from both the sets.
*   Intersection: Returns a new set containing elements common to both sets.
*   Difference: Returns a set containing elements only in the first set, but not in the second set.
*   Symmetric Difference: Returns a set consisting of elements in both sets, excluding the common elements.

In [ ]:
#Union
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
veg_set1 = {'cabbage', 'ginger', 'chilli', 'beans', 'tomato'}
print(veg_set | veg_set1)
print(veg_set.union(veg_set1))

{'radish', 'chilli', 'cabbage', 'ginger', 'onion', 'carrot', 'tomato', 'beans'}
{'radish', 'chilli', 'cabbage', 'ginger', 'onion', 'carrot', 'tomato', 'beans'}

In [ ]:
#Intersection
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
veg_set1 = {'cabbage', 'ginger', 'chilli', 'beans', 'tomato'}
print(veg_set & veg_set1)
print(veg_set.intersection(veg_set1))

{'tomato'}
{'tomato'}

In [ ]:
#Difference
a = {'carrot', 'radish', 'onion', 'tomato'}
b = {'cabbage', 'ginger', 'chilli', 'beans', 'tomato'}
print(a - b)
print(b.difference(a))

{'radish', 'carrot', 'onion'}
{'beans', 'cabbage', 'ginger', 'chilli'}

In [ ]:
#Symmetric Difference
veg_set = {'carrot', 'radish', 'onion', 'tomato'}
veg_set1 = {'cabbage', 'ginger', 'chilli', 'beans', 'tomato'}
print(veg_set^veg_set1)
print(veg_set1.symmetric_difference(veg_set))

{'radish', 'carrot', 'onion', 'chilli', 'cabbage', 'ginger', 'beans'}
{'radish', 'chilli', 'cabbage', 'ginger', 'onion', 'carrot', 'beans'}