**Python - List**

*   It is a mutable sequence type.
*   A list object contains one or more items of different data types in the square brackets [] separated by a comma.
*   List items are ordered, changeable, and allow duplicate values.
*   List items are indexed, the first item has index [0], the second item has index [1] etc.
*   A list can contain unlimited data depending upon the limitation of computer's memory.

**List Declaration**

In [ ]:
emp_list = [] # empty list
emp_list1 = list() #empty list

print(emp_list)

names=["Ram", "Raja", "Arun", "Nagesh"] # string list
print(names)

item=[1, "my", "Computer", 20.50, True] # list with heterogeneous data
print(item)

dup_lst = ["apple", "banana", "orange", "apple", "orange"]
print(dup_lst)

print(names[0])

print(names[-1])

print(names[0:2])

print(names[:2])
print(names[2:])

print(names[7])

[]
['Ram', 'Raja', 'Arun', 'Nagesh']
[1, 'my', 'Computer', 20.5, True]
['apple', 'banana', 'orange', 'apple', 'orange']
Ram
Nagesh
['Ram', 'Raja']
['Ram', 'Raja']
['Arun', 'Nagesh']

IndexError: ignored

**List Iteration and Comprehension**

In [ ]:
lst = [1,'2',3,'4']
#List comprehension is a shorter syntax, when you want to create a new list based on the values of an existing list or string.
lst1 = [str(i) for i in lst]
print(lst1)

#List Iteration
for j in lst:
  print(j)

iter_lst = []
for i in lst:
  iter_lst.append(str(i))

print(iter_lst)


lst_even = [i for i in range(21) if i % 2 == 0]
#[0,1,2,3,...20]
#[0, 4, 8, 12, 16, 20]
print(lst_even)

lst_even_4 = [i for i in range(0, 21, 4) if i % 2 == 0]
#0, 1, 2, 3, 4, 5, 6, 7, 8, ... 20
#(0, 21, 4) # 0, 4, 8, 12, 16, 20
print(lst_even_4)

[1, '2', 3, '4']
1
2
3
4
['1', '2', '3', '4']
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 4, 8, 12, 16, 20]

In [ ]:
lst = [1,'2',3,'4']

for i in lst:
  print(i)

1
2
3
4

In [ ]:
lst = [1,'2',3,'4']

iter_lst = []
for i in lst:
  iter_lst.append(i)

print(iter_lst)

[1, '2', 3, '4']

In [ ]:
for a in range(10):
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
avg_lst = [i for i in range(5)]
print(avg_lst)
lst_even = [i for i in avg_lst if i % 2 == 0]
print(lst_even)

[0, 1, 2, 3, 4]
[0, 2, 4]

**We use the list() constructor to convert from other sequence types such as tuple, set, dictionary, string to list.**

In [ ]:
nums=[1,2,3,4]
print(type(nums))

mylist=list('Hello') #from string
print(mylist)

nums=list({1:'one', 2:'two'}) #from dictionary
print(nums)

nums=list((10, 20, 30)) #from tuple
print(nums)

nums=list({100, 200, 300}) #from set
print(nums)

<class 'list'>
['H', 'e', 'l', 'l', 'o']
[1, 2]
[10, 20, 30]
[200, 100, 300]

**List Update**

In [ ]:
#Check if Item Exists

lst = ["a", "b", "c", "d"]

if "a" in lst:
  print("Yes, 'a' is in the list")

#update
lst[1] = 'z'
print(lst)

lst[1:3] = ["x", "y"]

print(lst)


lst1 = [1, 2, 3, 4, 5]
print(lst1[1:2])
print(lst1[1])
lst1[1:2] = 9, 8
print(lst1)

lst1[1] = '6'
print(lst1)
lst1[1:5] = '6','6','6'
print(lst1)

Yes, 'a' is in the list
['a', 'z', 'c', 'd']
['a', 'x', 'y', 'd']
[2]
2
[1, 9, 8, 3, 4, 5]
[1, '6', 8, 3, 4, 5]
[1, '6', '6', '6', 5]

In [ ]:
#['one', 'two', 'three', 'four', 'five']
#0:one, 1:two, 2:three
#[1, 9, 8, 3, 4, 5]

#[1,'6','6','6',5]


#0:1, 1:9: 2:8

**List Add**

In [ ]:
#insert()
insert_lst = ["a", "b", "c"]
insert_lst.insert(2, "z")
insert_lst.insert(5, "z")
print(insert_lst)


#append()
insert_lst.append("abcd") # adds new item at the end
print(insert_lst)

#extend()
a_lst = ["apple", "banana", "cherry"]
b_lst = ["mango", "pineapple", "papaya"]
a_lst.extend(b_lst)
print(a_lst)

['a', 'b', 'z', 'c', 'z']
['a', 'b', 'z', 'c', 'z', 'abcd']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

**Deleting List Items**

In [ ]:
names=["Ram", "Raja", "Mani", "Arun"]
del names[0]# removes item at index 0
print("After del names[0]: ", names)

names.remove("Raja") # removes "Raja"
print("After names.remove(\"Raja\"): ", names)

print(names.pop(0)) # return and removes item at index 0
print("After names.pop(0): ", names)

names.pop() # return removes item at last index
print("After names.pop(): ", names)

names.clear() #empty list

del names # removes entire list object
print(names)

After del names[0]:  ['Raja', 'Mani', 'Arun']
After names.remove("Raja"):  ['Mani', 'Arun']
Mani
After names.pop(0):  ['Arun']
After names.pop():  []

NameError: ignored

**List Operators**

In [ ]:
L1=[1,2,3]
L2=[4,5,6]
print('list addition', L1+L2)
print('list multiplication', L1*3)
print('condition check', 3 in L1)
print('condition check', 4 not in L1)

list addition [1, 2, 3, 4, 5, 6]
list multiplication [1, 2, 3, 1, 2, 3, 1, 2, 3]
condition check True
condition check True

**List Sorting**

In [ ]:
##Sort Ascending
sort_lst = ["o", "m", "k", "p", "b"]
sort_lst.sort()
print(sort_lst)

sort_lst1 = [10, 50, 60, 80, 20]
sort_lst1.sort()
print(sort_lst1)

['b', 'k', 'm', 'o', 'p']
[10, 20, 50, 60, 80]

In [ ]:
##Sort Descending
sort_lst = ["o", "m", "k", "p", "b"]
sort_lst.sort(reverse = True)
print(sort_lst)

sort_lst1 = [10, 50, 60, 80, 20]
sort_lst1.sort(reverse = True)
print(sort_lst1)

['p', 'o', 'm', 'k', 'b']
[80, 60, 50, 20, 10]

# List Methods:


*   **list.append()**	Adds a new item at the end of the list.

*   **list.clear()**	Removes all the items from the list and make it empty.

*   **list.copy()**	Returns a shallow copy of a list.

*   **list.count()**	Returns the number of times an element occurs in the list.

*   **list.extend()**	Adds all the items of the specified iterable (list, tuple, set, dictionary, string) to the end of the list.

*   **list.index()**	Returns the index position of the first occurance of the specified item. Raises a ValueError if there is no item found.

*   **list.insert()**	Inserts an item at a given position.

*   **list.pop()**	Returns an item from the specified index position and also removes it from the list. If no index is specified, the list.pop() method removes and returns the last item in the list.

*   **list.remove()**	Removes the first occurance of the specified item from the list. It the specified item not found then throws a ValueError.

*   **list.reverse()**	Reverses the index positions of the elements in the list. The first element will be at the last index, the second element will be at second last index and so on.

*   **list.sort()**	Sorts the list items in ascending, descending, or in custom order.

# copy in Python (Deep Copy and Shallow Copy):

Assignment statements do not copy objects, they create bindings between a target and an object. When we use the = operator, It only creates a new variable that shares the reference of the original object. In order to create “real copies” or “clones” of these objects, we can use the copy module in Python.

In [ ]:
a = '1'
b = a
print(id(b))
print(id(a))

140441737408112
140441737408112

**Syntax of Shallow copy:**

Syntax: copy.copy(x)

**Syntax of Deep copy:**

Syntax: copy.deepcopy(x)

In [ ]:
# importing copy module
import copy

list1 = [1, 2, [3,4], 5, 6]
print(list1)
# using copy for shallow copy
list2 = copy.copy(list1)
print(list2[2])
list2[2][0] = 0
print(list2)
print(list1)

[1, 2, [3, 4], 5, 6]
[3, 4]
[1, 2, [0, 4], 5, 6]
[1, 2, [0, 4], 5, 6]

In [ ]:
# importing copy module
import copy

list1 = [1, 2, [3,4], 5, 6]
print(list1)
# using copy for shallow copy
list2 = copy.copy(list1)
print(list2[2])
list2[1] = 0
print(list1)

[1, 2, [3, 4], 5, 6]
[3, 4]
[1, 2, [3, 4], 5, 6]

In [ ]:
# importing copy module
import copy

list3 = [1, 2, [3, 4], 5]
print(list3)
# using deepcopy for deepcopy
list4 = copy.deepcopy(list3)
list4[2][0] = 0
print(list3)
print(list4)

[1, 2, [3, 4], 5]
[1, 2, [3, 4], 5]
[1, 2, [0, 4], 5]

# Python - List Comprehension

List comprehension in Python is an easy and compact syntax for creating a list from a string or another list.

In [1]:
lst = [n for n in [1, 2, 3]]
print(lst)

#Create List of Even Numbers with List Comprehension
even_nums = [x for x in range(21) if x%2 == 0]
print(even_nums)

even_nums1 = [x for x in range(0, 21, 4) if x%2 == 0]
print(even_nums1)


#List Comprehension with String List
names = ['Ram', 'Raja', 'Mani', 'Mohan', 'Arun']
names2 = [name for name in names if 'a' in name]
print(names2)

squares = [i*i for i in range(11)]
print(squares)


nos1 = [1, 2, 3]
nos2 = [4, 5, 6]
nos=[(x,y) for x in nos1 for y in nos2]
print(nos)

#List Comprehension with Multiple if Conditions
nums = [x for x in range(21) if x%2==0 if x%5==0]
print(nums)

odd_even_list = ["Even" if i%2==0 else "Odd" for i in range(5)]
print(odd_even_list)
odd_even_list = [str(i) + '=Even' if i%2==0 else str(i) + "=Odd" for i in range(5)]
print(odd_even_list)

#Flatten List
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]] #nested list

#converting from nested list to flatten list
flatList=[num for row in matrix for num in row]
print(flatList)

[1, 2, 3]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 4, 8, 12, 16, 20]
['Ram', 'Raja', 'Mani', 'Mohan']
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]
[0, 10, 20]
['Even', 'Odd', 'Even', 'Odd', 'Even']
['0=Even', '1=Odd', '2=Even', '3=Odd', '4=Even']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Getting square of from 1 to 10
squares = [n**2 for n in range(1, 11)]

# Display square of even numbers
print(squares)



lis = [num for num in range(100) if num % 5 == 0 if num % 10 == 0]
print(lis)


# Reverse each string in tuple
List = [string[::-1] for string in ('Hi', 'Hello', 'World')]

# Display list
print(List)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
['iH', 'olleH', 'dlroW']

In [ ]:
a = 'malayalam'
print(a[::-1])
print(a[::4])
print(a[::1])

malayalam
mym
malayalam

In [2]:
name = 'abc'
print(name[::-1])

cba