# Python Data Types


1.   Text Type:	str
2.   Numeric Types:	int, float, complex
3.   Sequence Types:	list, tuple, range
4.   Mapping Type:	dict
5.   Set Types:	set, frozenset
6.   Boolean Type:	bool
7.   Binary Types:	bytes, bytearray, memoryview
8.   None Type:	NoneType

In [ ]:
a = "Hello World"
a = 'Hello World'
b = 20
c = 20.5
d = 1j
e = ["apple", "banana", "cherry"]#list
f = ("apple", "banana", "cherry")#tuple
g = range(6)
h = {"apple", "banana", "cherry"} #set
i = {"name" : "John", "age" : 36} #dict
j = frozenset({"apple", "banana", "cherry"})
k = True
l = b"Hello"
m = bytearray(5)
n = memoryview(bytes(5))
o = None

**Setting the Specific Data Type**

we can specify the data type, using the following constructor functions:
Some times we need to specify a type on to a variable. This can be done with casting.

casting: converting a variable from one datatype to another datatype.

In [ ]:
a = str("Hello World")
b = int('20')
c = float(20.5)
d = complex(1j)
e = list(("apple", "banana", "cherry"))
f = tuple(["apple", "banana", "cherry"])
g = range(6)
h = dict(name="John", age=36)
i = set(("apple", "banana", "cherry"))
j = frozenset(("apple", "banana", "cherry"))
k = bool(5)
l = bytes(5)
m = bytearray(5)
n = memoryview(bytes(5))

**Numbers in Python**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#int

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
z = 5 + 2j
print(type(z))

<class 'complex'>

# Arithmetic Operators:

+ (Addition), - (Subtraction), * (Multiplication), / (Division), % (Modulus), ** (Exponent), // (Floor Division)

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4

# Addition of numbers
add = a + b

# Subtraction of numbers
sub = a - b

# Multiplication of number
mul = a * b

# Division(float) of number
div1 = a / b

# Division(floor) of number
div2 = a // b
#4
#4.67
#5
# Modulo of both number
mod = a % b

# Power
p = a ** b
#9*9*9*9

# print results
print('addition', add)
print('subtraction', sub)
print('multiplication',mul)
print('division',div1)
print('floor division',div2)
print('modulus',mod)
print('power',p)

addition 13
subtraction 5
multiplication 36
division 2.25
floor division 2
modulus 1
power 6561

# Python Strings:

Strings in python are surrounded by either single quotation marks, or double quotation marks.

It is an immutable sequence data type, characters are wrapped inside single, double, or triple quotes.

In [ ]:
'It is a string in Python' # string in single quotes
"It is a string in Python" # string in double quotes
'''It is a string in Python''' # string in triple single-quotes
"""It is a string in Python""" # string in triple double-quotes

#postive indexing
x = "Hello, World! "
print(x[4])
print(x[1:4])
print(x[:5])
print(x[1:])

#negative indexing
print(x[-5:-2])
print(x[-2])

#not supporting from lower to higher
print(x[-2:-5])
print(x[5:0])

#type
print(type(x))


#some sting functions
print(x.upper())
print(x.lower())
print(x.strip())
#print(x.replace())
#print(x.slice())
print(x.split())

#string concatenation
x = "Hello"
y = "World"
z = x + y
print(z)

z = x + " " + y
print(z)

z = x * 3
print(z)

# #convert int to str
# a = '100'
# c = str(a)
# print(c)
# z = '100'
#escape sequences
#str1='Welcome to 'Python Tutorial''
str1 = 'Welcome to \'Python Tutorial\''
print(str1)
str2="Welcome to \"Python Tutorial\""
print(str2)

o
ell
Hello
ello, World!
rld
!


<class 'str'>
HELLO, WORLD!
hello, world!
Hello, World!
['Hello,', 'World!']
HelloWorld
Hello World
HelloHelloHello
Welcome to 'Python Tutorial'
Welcome to "Python Tutorial"

In [ ]:
y = 'hi hello'
print(y[0])
print(y[0:2])
print(y[:2])
print(y[3:])

print(y[-1])
print(y[-5:-1])
print(y[-5:])
print(y[-1:-5])


# print(y)
# print(y.strip())

h
hi
hi
hello
o
hell
hello

In [ ]:
x = "Hello, World!"
print('o' in x)
#print(y)
y = 'a' in x
print(y)
z = 'o' not in x
print(z)
z = 'a' not in x
print(z)

True
False
False
True

In [ ]:
name = 'Ravi'
txt = "My name is " + name
print(txt)

txt = "My name is {}"
print(txt.format(name))

txt = "My name is {}, and I am {}"
print(txt.format('Ravi', '30'))

txt = "My name is {1}, and I am {0}"
print(txt.format('30', 'Ravi'))

My name is Ravi
My name is Ravi
My name is Ravi, and I am 30
My name is Ravi, and I am 30

# F-strings are faster than the two most commonly used string formatting mechanisms, which are % formatting and str.format().

In [ ]:
name = 'Ravi'
print(f"My name is {name}")

age = 30
print(f"My name is {name} and I'm {age} years old.")

My name is Ravi
My name is Ravi and I'm 30 years old.

**Python Booleans**:

Booleans represent one of two values either True or False.

In [ ]:
print(100 > 90)
print(100 == 90)
print(100 < 90)
print(True == False)
print(True != False)

True
False
False
False
True

**Python Logical Operators**

In [ ]:
#and 	Returns True if both statements are true
x = 7
print(x > 0 and x < 10)
salary = 9000
if(salary > 5000 and salary < 10000):
  print('B grade salary person')
  print('B grade salary person')
  print('B grade salary person')
  print('B grade salary person')
  print('B grade salary person')

print(x > 0 & x < 10)

if x > 0 and x < 10:
  print('test')

#or	Returns True if one of the statements is true
print(x > 0 or x < 5)

if x > 0 or x < 10:
  print('test')

#not	Reverse the result, returns False if the result is true
print(not(x > 0 and x < 10))

True
B grade salary person
B grade salary person
B grade salary person
B grade salary person
B grade salary person
True
test
True
test
False

**range()**

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
for i in range(3, 10):
  print(i)

3
4
5
6
7
8
9

In [ ]:
for i in range(0, 11, 2):
  print(i)

#0, 1, 2, 3, ....10

0
2
4
6
8
10

In [ ]:
#0, 10
# 1, 2, 3, 4, ..9
#

In [ ]:
for i in range(1, 10, 2):
  print(i)
  #1, 2, 3, 4, 5, 6, 7, 8, 9

1
3
5
7
9

In [ ]:
for i in range(0, 7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(7, 0):
  print(i)

In [ ]:
for i in range(7, 0, -1):
  print(i)

7
6
5
4
3
2
1

In [ ]:
for j in range(7):
  print(j)

0
1
2
3
4
5
6

In [ ]:
for i in range(7, 0, -1):
  for j in range(i):
    print('*', end='')

****************************

In [ ]:
for i in range(7, 0, -1):
  for j in range(i):
    print('*', end='')
  print()

*******
******
*****
****
***
**
*

In [ ]:
a = 'hello'
print(a[-3:-1])

ll