# Python - if, elif, else Conditions:

**Python uses the if keyword to implement decision control.**

*   Equals: a == b
*   Not Equals: a != b
*   Less than: a < b
*   Less than or equal to: a <= b
*   Greater than: a > b
*   Greater than or equal to: a >= b

**Python is recommended to use 4 spaces or a tab as the default indentation level for more readability.**

In [ ]:
salary = 5000

if salary < 10000:
    print("salary is less than 10000")

salary is less than 10000

In [ ]:
salary = 5000
months = 5
if salary * months < 50000:
    print("5 months salary is less than 50000")
    print("salary = ", salary)
    print("months = ", months)

5 months salary is less than 50000
salary =  5000
months =  5

**Multiple if Conditions**

In [ ]:
salary = 10000

if salary > 10000:
 print("salary is greater than" + str(salary))
 print("salary is greater than" + str(salary))

print("salary is greater than" + str(salary))

if salary == 10000:
  print("salary is 10000")

if salary < 100000:
    print("salary is less than 100000")


#nested if condition
if salary == 10000:
  print("salary is 10000")
  if salary < 100000:
    print("salary is less than 100000")

salary is 10000
salary is less than 100000
salary is 10000
salary is less than 100000

**else Condition**

The else keyword catches anything which isn't caught by the preceding conditions.

the else condition can be optionally used to define an alternate block of statements

In [ ]:
x = 200
y = 100
if y > x:
  print("y is greater than x")
else:
  print("y is not greater than x")

print('Hi')

y is not greater than x
Hi

In [ ]:
salary = 50000

if salary < 10000:
    print("salary is less than 10000")
else:
    print("salary is greater than 10000")

salary is greater than 10000

**elif Condition**

elif condition is used to inclde multiple conditional expressions after the if condition or between the if and else conditions.

Syntax

if [boolean expression]:

    [statements]

elif [boolean expresion]:

    [statements]

elif [boolean expresion]:

    [statements]

else:

    [statements]

In [2]:
x, y = 100, 100
if y > x:
  print("y is greater than x")
elif x == y:
  print("x and y are equal")

x and y are equal

In [ ]:
salary = 10000

if salary > 10000:
    print("salary is greater than 10000")
elif salary != 10000:
    print("salary is 10000")
elif salary < 100000:
    print("salary is less than 100000")

salary is less than 100000

In [ ]:
#short if
#This technique is known as Ternary Operators, or Conditional Expressions.
x, y = 200, 100
if x > y: print("x is greater than y")

##Normal if condition
if x > y:
  print("x is greater than y")

x is greater than y

In [ ]:
x, y = 200, 100
#short hand if ... else
print("X") if x > y else print("Y")

X

In [ ]:
x = 100
y = 100
if y > x:
  print("y is greater than x")
elif x == y:
  print("x and y are equal")

print("X") if x > y else print("=") if x == y else print("Y")

x and y are equal
=

**Logical Operators with if conditions**

In [ ]:
#and
x = 300
y = 200
z = 500
if x > y and z > x:
  print("Both conditions are True")

if x > y & z > x:
  print("Both conditions are True")

Both conditions are True

In [ ]:
#or
x = 100
y = 200
z = 500

if x > y or z > x:
    print('test or logical operator')
    print('test or logical operator')

test or logical operator
test or logical operator

# Python Loops


*   while loops
*   for loops

while loop we can execute a set of statements as long as a condition is true.

**remember to increment i, or else the loop will continue forever.**

In [ ]:
num = 0

while num < 5:
    # num += 1 is same as num = num + 1
    num += 1
    print('num = ', num)

num =  1
num =  2
num =  3
num =  4
num =  5

**Exit from the While Loop**

In [ ]:
num = 0

while num < 5:
    num += 1
    print('num = ', num)
    if num == 3: # condition before exiting a loop
        break

num =  1
num =  2
num =  3

**Continue Next Iteration**

In [ ]:
num = 0

while num < 5:
	num += 1
	if num == 3: # condition before exiting a loop
		continue
	print('num = ', num)

num =  1
num =  2
num =  4
num =  5

In [ ]:
num = 0

while num < 5:
	num += 1
	if num > 3: # condition before exiting a loop
		continue
	print('num = ', num)

num =  1
num =  2
num =  3

In [ ]:
num = 0

while num < 5:
	num += 1
	if num < 3: # condition before exiting a loop
		continue
	print('num = ', num)

num =  3
num =  4
num =  5

**While loop with else Statement**

else statement we can run a block of code once when the condition no longer is true:

In [3]:
x = 1
while x < 6:
  print(x)
  x += 1
else:
  print("x is grater than 6")
  print("x is grater than 6")
  print("x is grater than 6")
  print("x is grater than 6")

1
2
3
4
5
x is grater than 6
x is grater than 6
x is grater than 6
x is grater than 6

# Python For Loops


*   A for loop is used for iterating over a sequence.
*   The for loop is used with sequence types such as list, tuple, set, range, etc.

In [ ]:
#List
nums = [10, 20, 30, 40, 50]

for i in nums:
  print(i)

for x in range(len(nums)):
  print(nums[x])

# for i in range(5):
#   print(i)

#Tuple
names=("Ram", "Raja", "Arun", "Nagesh")

for j in names:
  print(j)


for x in range(len(names)):
  print(names[x])

#set
set_ex = {1, 2, 3, 4, 5}

for iter in set_ex:
  print(iter)

10
20
30
40
50
10
20
30
40
50
Ram
Raja
Arun
Nagesh
Ram
Raja
Arun
Nagesh
1
2
3
4
5

In [ ]:
#Tuple
names=("Ram", "Raja", "Arun", "Nagesh")

for abc in names:
  print(abc)

Ram
Raja
Arun
Nagesh

In [ ]:
#string
x = 'hello world'
for i in x:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
y = 100000
for x in y:
  print(x)

TypeError: ignored

In [ ]:
y = 100000
for x in str(y):
  print(x)

1
0
0
0
0
0

In [ ]:
ex_set = {10, 'Raja', 100.5, True}
for y in ex_set:
  print(y)

Raja
10
100.5
True

In [ ]:
roman_nums = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5} # string key, int value
for a in roman_nums.keys():
  print(a)

# for i in roman_nums:
#   print(i)

for value in roman_nums.values():
  print(value)

for k,v in roman_nums.items():
    print("key = ", k , ", value =", v)

for i in roman_nums:
  print(i)

I
II
III
IV
V
1
2
3
4
5
key =  I , value = 1
key =  II , value = 2
key =  III , value = 3
key =  IV , value = 4
key =  V , value = 5
I
II
III
IV
V

**break**

In [ ]:
#break
for i in range(10):
    print(i)
    if i == 2:
        break

0
1
2

In [ ]:
#break
num = 0
for i in range(10):
    num += 1
    if num == 8:
        break
    print("The num has value:", num)


print("Out of loop")

The num has value: 1
The num has value: 2
The num has value: 3
The num has value: 4
The num has value: 5
The num has value: 6
The num has value: 7
Out of loop

**continue**

In [ ]:
for i in range(1, 11):

    # If i is equals to 6,
    # continue to next iteration
    # without printing
    lst = [6, 9, 10]
    if i in lst:
        continue
    else:
        # otherwise print the value
        # of i
        print(i, end=" ")

1 2 3 4 5 7 8

In [ ]:
for i in range(1, 5):
    if i > 3:
        continue
    print(i)

1
2
3

In [ ]:
for i in range(1, 5):
    if i < 3:
        continue
    print(i)

3
4

**else**

In [ ]:
for i in range(5):
    print(i)
else:
     print('End of for loop')

0
1
2
3
4
End of for loop

**Nested for Loop**

In [ ]:
for x in range(1,5):
  #1,2,3,4
    for y in range(1,3):
      #1,2
        print('x = ', x, ', y = ', y)

x =  1 , y =  1
x =  1 , y =  2
x =  2 , y =  1
x =  2 , y =  2
x =  3 , y =  1
x =  3 , y =  2
x =  4 , y =  1
x =  4 , y =  2

In [ ]:
for y in range(1,3):
  print(y)

1
2

**loop with conditions**

In [ ]:
names=("Ram", "Raja", "Arun", "Nagesh")
for x in names:
  print(x)
  if x == "Arun":
    break

Ram
Raja
Arun

In [ ]:
names=("Ram", "Raja", "Arun", "Nagesh")
for x in names:
  if x == "Arun":
    break
  print(x)

Ram
Raja