# Python - Dictionary

The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets.

In [ ]:
emp_dict = {} # empty dictionary
print(emp_dict)

num_names={1:"One", 2: "Two", 3:"Three"} # int key, string value
print(num_names)

dec_names={1.0:"One", 2.0: "Two", 3.0:"Three"} # float key, string value
print(dec_names)

items={("Mango","Banana","Apple"):"fruits", ("Carrot","Cabbage","Beans"): "Vegetables"} # tuple key, string value
print(items)

roman_nums = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5} # string key, int value
print(roman_nums)

{}
{1: 'One', 2: 'Two', 3: 'Three'}
{1.0: 'One', 2.0: 'Two', 3.0: 'Three'}
{('Mango', 'Banana', 'Apple'): 'fruits', ('Carrot', 'Cabbage', 'Beans'): 'Vegetables'}
{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

A dictionary with a list as a key is not valid because list is mutuable

In [ ]:
dict_obj = {["Mango","Banana","Apple"]:"Fruits", ["Carrot","Cabbage","Beans"]:"Vegetables"}

TypeError: ignored

In [ ]:
#list in value place
dict_obj = {"Fruits": ["Mango","Banana","Apple"], "Vegetables": ["Carrot","Cabbage","Beans"]}
print(dict_obj)

{'Fruits': ['Mango', 'Banana', 'Apple'], 'Vegetables': ['Carrot', 'Cabbage', 'Beans']}

**Duplicates in dictionary**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three", 1:"four", 2: "five", 3:"Three"} # int key, string value
print(num_names)

{1: 'four', 2: 'five', 3: 'Three'}

**type()**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"} # int key, string value
print(type(num_names))

<class 'dict'>

**dict() Constructor**

In [ ]:
#empty dictionary using dict()
empty_dict = dict()
print(empty_dict)

num_dict = dict(I='one', II='two', III='three')
print(num_dict)

{}
{'I': 'one', 'II': 'two', 'III': 'three'}

In [ ]:
a = 12
display(a)

b= 5
print(b)

12

5

In [ ]:
emp_lst = []
emp_list = list()

emp_tup = ()
emp_tuple = tuple()

emp_set = set()

emp_dict = {}
emp_dict1 = dict()

**Dictionary Length**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"} # int key, string value
print(len(num_names))

3

**Accessing Items**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
print(num_names[1])

dict_obj = {"Fruits": ["Mango","Banana","Apple"], "Vegetables": ["Carrot","Cabbage","Beans"]}
print(dict_obj['Fruits'])

One
['Mango', 'Banana', 'Apple']

In [ ]:
#key error
dict_obj = {"Fruits": ["Mango","Banana","Apple"], "Vegetables": ["Carrot","Cabbage","Beans"]}
print(dict_obj['Veg'])

KeyError: ignored

**get()**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
print(num_names.get(1))

dict_obj = {"Fruits": ["Mango","Banana","Apple"], "Vegetables": ["Carrot","Cabbage","Beans"]}
print(dict_obj.get('Fruits'))

One
['Mango', 'Banana', 'Apple']

In [ ]:
#key error
dict_obj = {"Fruits": ["Mango","Banana","Apple"], "Vegetables": ["Carrot","Cabbage","Beans"]}
print(dict_obj.get('Veg'))

None

**Keys()**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
print(num_names.keys())

dict_keys([1, 2, 3])

In [ ]:
lst = [1,2,3]
for a in lst:
  print(a)

1
2
3

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
for key in num_names.keys():
  print(key)
  print(num_names[key])

1
One
2
Two
3
Three

**Values()**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
print(num_names.values())
print(type(num_names.values()))

dict_values(['One', 'Two', 'Three'])
<class 'dict_values'>

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
for val in num_names.values():
  print(val)

One
Two
Three

**Access Dictionary using loop**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
for key in num_names.keys():
  print(num_names[key])
  print(num_names.get(key))

One
One
Two
Two
Three
Three

**Dictionary Update**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three"}
num_names['4'] = 'four'
print(num_names)

{1: 'One', 2: 'Two', 3: 'Three', '4': 'four'}

**Dictionary Delete**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three", '4': 'four'}
num_names.pop('4')
print(num_names)
num_names.popitem() #delete LIFO element
print(num_names)

{1: 'One', 2: 'Two', 3: 'Three'}
{1: 'One', 2: 'Two'}

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three", '4': 'four'}
del num_names['4'] # deletes a key-value pair
print(num_names)
num_names.clear()
print(num_names)
del num_names # delete dict object
print(num_names)

{1: 'One', 2: 'Two', 3: 'Three'}
{}

NameError: ignored

**Check Dictionary Keys**

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three", '4': 'four'}

print('One' in num_names)

if 1 in num_names:
  print('key 1 is available in num_names dictionary')
  print('key 1 is available in num_names dictionary')
  print('key 1 is available in num_names dictionary')
  print('key 1 is available in num_names dictionary')
  print('key 1 is available in num_names dictionary')

False
key 1 is available in num_names dictionary
key 1 is available in num_names dictionary
key 1 is available in num_names dictionary
key 1 is available in num_names dictionary
key 1 is available in num_names dictionary

In [ ]:
num_names={1:"One", 2: "Two", 3:"Three", '4': 'four'}

for b in num_names.keys():
  print(b)
  #print(val)


for val in num_names.values():
  #print(key)
  print(val)

for key, val in num_names.items():
  print(key)
  print(val)

1
2
3
4
One
Two
Three
four
1
One
2
Two
3
Three
4
four

**Arithmetic & Logical Operators we saw previous sessions.**

# Assignment Operators

In [ ]:
x = 10
print(x)
x = x + 10 #x= 10 + 10
x += 10
print(x)
#x = x - 5
x -= 5
print(x)
x *= 3
print(x)
x /= 3
print(x)

# x += 1
# x = x + 1

10
20
15
45
15.0

# Comparison Operators

In [ ]:
a, b = 10, 20
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

**Next Session:**


*   If Else Statement in Python
*   Loops in Python